/* Import fonts */
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

/* Reset */
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    min-height: 100svh;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d5e1ef;
    font-family: "Outfit", sans-serif;
}

img {
    display: block;
    max-width: 100%;
}

/* Card styling*/
.card {
    max-width: 20rem;
    border-radius: 20px;
    padding: 1rem 1rem 2.5rem;
    box-shadow: 0 25px 25px rgba(0 0 0 / 0.0477);
    background-color: #fff;
    text-align: center;
}

/* Card image styling*/
.card__image {
    border-radius: 10px;
}

.card__content {
    padding: 0 1rem;
}

/* Card title styling*/
.card__title {
    margin-block-start: 1.5rem;
    margin-block-end: 1rem;
    color: #1f314f;
    font-weight: 700;
    font-size: 1.375rem;
    line-height: 1.2;
}

/* Card text styling*/
.card__text {
    font-size: 0.9375rem;
    line-height: 1.4;
    letter-spacing: 0.0125em;
    color: #68778d;
}

/* Media query for dark mode */
@media (prefers-color-scheme: dark) {
    body {
        background-color: #1f314fad;
    }
    .card {
        background-color: #1f314f;
        box-shadow: 0 0 25px rgba(255 255 255 / 0.15);
    }
    .card__title {
        color: #fff;
    }
    .card__text {
        color: #d5e1ef;
    }
}