/* Reset */
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    
    min-height: 100vh;
    line-height: 1.5;
    /* -webkit-font-smoothing: antialiased; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d5e1ef;
}

img {
    display: block;
    max-width: 100%;
}

/* p {
  overflow-wrap: break-word;
} */

.card {
    width: 320px;
    height: 500px;
    border-radius: 20px;
    padding: 1em 1em 2.5em;
    box-shadow: 0 25px 25px rgba(0 0 0 / 0.477);
    background-color: #fff;
}

.card__image {
    border-radius: 10px;
    overflow: hidden;
}
